
.table_wrap .answer_table{
	font-size: 14px;
	width: 50%;
	height: auto;
	text-align: center;
	margin: auto;
}

.table_wrap{
	max-width: 90%;
	height: 200px;
	margin-bottom: -100px;
	min-width: 700px;
}
.table_wrap .answer_table tr{
	height: 40px;
}