
/* 다른 device에서의 스크롤 방지 */
html,body {
	overflow-x: hidden;
}

/* 스크롤 연습하기 위한 페이지 높이 */
body{
	height: 1400px;
}


.bg_content{
	margin: auto;
}

.bg_content_wrap{
	width: 50%;
	margin: auto;
}

.bg_content_wrap form input{
	height: 50px;
}

.bg_content_wrap form button{
	height: 50px;
	width: 70px;
	background-color: orange;
}