
/* 전체 공통 nav 속성  */
#scroll_after{
	display: none;
	background-color: #fff;
}

/* 메뉴 글씨 색상 변경  */
#scroll_after .container .collapse .nav li .nav_link{
	color: black;
}
#scroll_before > div > div.navbar-header > a > p{
	font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
}
#scroll_before > div > div.navbar-header > a > img{
	display: inline-block;
	margin-top: -15px;
}
/*스크롤 내렸을때 바뀜*/
#scroll_after > div > div.navbar-header > a > p{
	font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
}
#scroll_after > div > div.navbar-header > a > img{
	display: inline-block;
	margin-top: -15px;
}

/* 전체적인 메뉴바 성정  */
.navbar {
	background-color: transparent;
	border: 0px;
}

.navbar .container .collapse .nav .nav_link {
	color: #fff;
}

.navbar .container .navbar-header .navbar-toggle .icon-bar {
	background-color: #fff;
}
